.section{
    margin-bottom: 3rem;
    .service_title{
        padding-left: 24px;
        // background-color: $red;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
        .title{
            font-size: 3rem;
            font-family: titleFont;
            color: $red;
            text-align: left;
        }
        .description{
            color: $red;
            font-size: 1.5rem;
        }
    }
    .service_cards{
       height: 100%;
        .service_card{
            margin-bottom: 5%;
            color: #ffffff;
            border-radius: 16px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $red;
            width: 20em;
            box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
            gap: .5rem;
            letter-spacing: .25px;
        }
    }
}
.workflow_section{
    width: 100%;
    background-color: $red;
    padding: 2rem;
    .work_flow_title{
        font-size: 3rem;
        font-family: titleFont;
        color: #ffffff;
        text-align: center;
        margin-bottom: 1rem;
    }
    .workflow_images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
